{% extends 'base.html' %}

{% block head %}
<title>Profile</title>
{% endblock %}


{% block body %}
<div class="container">
    <p>
        <h1>Profile</h1>
        <p>Username: {{ user }}</p>
        <p>First name: {{ user.first_name }} </p>
        <p>Last name: {{ user.last_name }} </p>
        <p>Email: {{ user.email }} </p>
    </p>
</div>

{% endblock %}

 {% block content %}
        <li><a  href="{% url 'logout' %}"><span class="	glyphicon glyphicon-log-out"></span>Log out</a></li>
  {% endblock %}