<!-- templates/base.html -->


<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="navbar.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <title>Movie Fetcher</title>

</head>


<body>

      <!-- Static navbar -->
      <nav class="navbar navbar-inverse" >
        <div class="container-fluid" >
          <div class="navbar-header" >
              {% if user.is_authenticated %}
              <a class="navbar-brand"  href="{% url 'film:index' %}">Movie Fetcher</a>
              {% else %}
              <a class="navbar-brand"  href="{% url 'login' %}">Movie Fetcher</a>
              {% endif %}
          </div>



            <ul class="nav navbar-nav navbar-right">
{% block content %}
<li><a  href="{% url 'accounts:register' %}"> <span class="glyphicon glyphicon-user"></span>Sign up</a></li>
{% endblock %}
            </ul>


            {% block content2 %}
            {% endblock %}

            {% block content3 %}
            {% endblock %}

        </div><!--/.container-fluid -->
      </nav>

<div class="container">
{% block body %}
{% endblock %}
</div>

</body>

</html>